/* General style*/



.tab {
	display: inline-block;
	float: left;
	padding:  10px;
	background-color: black;
	box-shadow: 7px 7px 10px black;


}

.tab:hover {
	background-color: firebrick;
}
#nav_bar{
	margin: auto;
	display: inline-block;
	list-style-type: none;
	margin: 10px;
	padding: 10px;
	overflow: hidden;
}
.italic{
	font-style: italic;
	color: black;
}

.bold {
	font-weight: bold;
	color: black;
}
#greenItalic{
	color: darkgreen;
}



#logo{
	width: 40%;
	height: 50%;
}

a{
	text-align: center;
	display: block;
	text-decoration: none;
	color: white;
}

body{
	display: block;
	align-content: center;
	text-align: center;
	background-image: linear-gradient(lightgrey,lightgreen)

}
section{
	box-shadow: 10px 10px 10px green;
	border-style: solid;
	border-radius: 19px;
	background-color: white;
	margin-top: 2%;
	width: auto;
	height: auto;
	overflow: auto;
}
h3{
	
	border: 5px dashed indianred;
	background-color: #E0E0B0;
	display: inline;
	border-radius: 10px;
	padding: 5px;
}

/*
	Specific css code for each html
*/
/* Competition html*/
form{
	margin: 3%;
}
fieldset{
	background-color: #edeeef;
	border:2px solid black;
}
form, fieldset{
	border-radius: 20px;


}

input, label, select{
	margin: 1%;

}

#teddi{
	margin-top: 10px;
	margin-bottom: 5px;
	border:2px solid black;
	box-shadow: 7px 7px 10px green; 
	border-radius: 10px;
}

/*  Contact us html   */

table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	
}
.contact, span{
	color: darkgreen;
}

.contactTable {
	border: 2px solid black;
	border-collapse: collapse;
	background-color: #edeeef;
	font-size: 22px

}


#google_map {
	width: 600px;
	height: 450px;
	border: 5px solid black;
	margin: 2%;
	box-shadow: 10px 10px 10px green
}

.columns{
	width:auto;
	margin:18px 20px 18px 20px ;
	padding-top:20px;
	padding-bottom: 20px;
	display: inline-block;
	background-color: #E0E0B0;
	}

@media only screen and (max-width: 900px) {
	.columns{
		margin:18px auto 18px auto;
	}
}
	

li{
	width:33%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.twitter-timeline{
	margin: 20px;
	border: 2px solid black;
}

/*homepage html*/
iframe{
 	width: auto;
 	height: auto;
}

#video{

	margin: 20px;
}

#characterTable{
	border-collapse: collapse;
}
.characterRow{
	border-top:2px dashed grey;
	border-bottom:  2px dashed grey;
}



/*Merchandising html*/
.merch{
	border : 5px solid indianred;
	border-bottom:  2px solid indianred;
	text-align: center;
	margin: auto;

}
#merchTable{
	margin-top:   3%;
	margin-bottom: 3%;
	border-collapse: collapse;
	margin-left: 10%;
	margin-right:10%;
	background-color: lightgrey;
}

.buttonSell{
	width: 40%;
	margin: 5px;
}

#aloneButton{
	max-width: 150px;
	min-width: 50px;
}

/*About html*/
#wikipedia {
	font-style: italic;
	text-decoration: underline;
	color: blue;
}
