
body {
		background-color: #f4ffe4;
		color: #333333;
		font-size: 100%;
		text-indent: 5em;
		width: 80%;
		min-width: 600px;
		margin:auto;

}
h1 {
		background-color: #191970;
		color: #E6E6FA;
		margin-bottom: 0;
		text-indent: 140px;
		font-family: Georgia, "Times New Roman", serif;
		background-color: #d5edb3;
		color:#5c743d;
		background: url("trilliumlogo.jpg") left no-repeat;
		height: 86%;
		line-height: 250%;
}

h2 {
	background-color: #AEAED4;
	color: #191970;
	background-color: #d5edb3;
	color:#5c743d;
	background-image: url("trilliumbg.gif");

}
.companyname{
	color: #5c743d ;
}

.services{
	font-weight:bold;
	font-size: 1.2em;
}

dd {
	font-style: italic;
}

small { font-size: 80%; }

nav {
		background-color: white;
		border-bottom: 1px solid;
		border-top: 1px solid;
}
footer{
	font-family: Georgia, "Times New Roman", serif;
	font-size: 0.8em;
	font-style: italic;
	text-align: center;
}
main
{
	background-color: #F6F6FD;
}