table{
	border: 5px;
	border-style: dashed;
	border-color: pink;
	width: 600px;
	margin: auto;
	border-spacing: 1em;
	position: fixed;
	border-collapse: collapse;
}
td,th,tr{
	border:dashed 2px pink;
	background-image: lightgrey;
}
caption{
	caption-side: bottom;
	margin-top: 0.4em;
}
th{
	font-size: 3em;
	background-color: grey;
}
tr:hover{
	background-color: black;
}