aside{
	margin:auto;
	float: left;
}
article{
	float: left;
	margin: auto;
	display: block;
	text-align: center;
	margin-left: 10%;
}
html{
	margin-right: 10px;
	margin-left: 10px;
}

header{
	text-align: center;
}

body{
	background-color: lightgrey;
}
main{
	box-shadow: 5px 10px;
}



#herosData{
	float: left;
	margin-right: 10%;

}
#hersoPhotoSection{
	float: left;
}

#chooseHero{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	background-color: black;
	color: white;
}
#herosSection{
	display: block;
	border: 1px solid black;
	overflow: auto;
}

#menu{
	background-color: red;
	border-color: white;
	font-size: 22px
}



.invisibleButton{
	visibility: hidden;
	text-decoration: none;
	border:1px solid black;
	background-color: lightblue;
	border-radius: 15px;
	padding-left: 4px;
	padding-right: 4px;
	margin-left: 10px;

}


.bold{
	font-weight: bold;
}


