h1 {
	color: blue;
	margin-left: 100px;
	border-bottom: 1px solid orange;
}
h2 {
	color: orange;
	margin-left: 100px;
	border-bottom: 1px solid orange;
}
p {
	font-size: large;
	font-family: sans-serif;
}
img
	{
		float: right;
		margin: 0 12 px;
	}