body {
	width: 80%; 
	font-family: "Comic Sans";
	margin: auto;
	background-image: url("villan.png");
	background-repeat: repeat-y;
}
li {
	border: 1px solid;
	border-radius: 10px;
}
ul {
	list-style-type: circle;
	list-style-position: inside;
}
.XMen{
	font-family: "sans-serif";
	background: lightpink;
	color: #B22222;
}
.JusticeLeage{
	
	background: darkgrey;
	color: black;
}
#lanter{
	font-style:  italic ; 
	color: green;
}
.villain{
	list-style-image: url("villan.png");
}
hr {
	border: 1px;
}